/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(27, 27, 217),rgb(211, 40, 40)
    );
  }
  .name{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    text-decoration: underline;
    color: #33daff;
    font-size: 25px;
    font-weight: 0;
  }
  .calculator{
    width: 335px;
    border-radius: 7px;
    background: #3a4459;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
  }
  .calculator input{
    border: 0;
    outline: 0;
    width: 73px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    color: whitesmoke;
    margin-left: 3px;
    margin-right: 4px;
    margin-top: 4px;
    cursor: pointer;
  }
  .display{
    display: flex;
    justify-content: flex-end;
    width: 335px;
  }
  .display input{
    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
    color: whitesmoke;
  }
  #character{
    background-color: hsl(35,100%,55%);
    color: rgb(57, 47, 47);
  }
  #character:hover{
    background-color: hsl(35,100%,65%);
    color: rgb(57, 47, 47);
  }
  #character:active{
    background-color: hsl(35,100%,75%);
    color: rgb(57, 47, 47);
  }
#equal{
  background-color: orangered;

}
input:hover{
  background-color:hsl(350, 100%, 55%);

}
input:active{
  background-color:hsl(350, 100%, 75%);

}
#display:hover{
  background-color: #3a4459;
}

  